@mixin center($t, $l, $x, $y) {
    top: $t;
    left: $l;
    transform: translate($x, $y);
}
@mixin centerX {
    left: 50%;
    transform: translateX(-50%);
}
@mixin centerY {
    top: 50%;
    transform: translateY(-50%);
}
@mixin button($bg, $c, $w, $h, $br) {
    background: $bg;
    color: $c;
    width: $w;
    height: $h;
    border-radius: $br;
    border: none;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

@mixin clear {
    &:focus {
        border: 0;
        outline: 0;
        box-shadow: none;
    }
}
