$primary: #790000;
$dark-red: #54111a;
$secondary: #c96370;
$pastel-1: #e4b1b8;
$pastel-2: #f4e0e2;
$pastel-3: #f9eff0;
$pastel-4: #fcf8ef;
$gray: #515151;
$gray-1: #757474;
$gray-2: #b9b7b7;
$gray-3: #c4c4c4;
$gray-4: #e1e1e1;
$gray-5: #e5e5e5;
$cream: #e2b95c;
$green: #279f25;
$blue: #5e92e0;
$blue-gray-1: #eff9ef;
$blue-gray-2: #eff4fc;
