#lokasi-pengambilan {
    .ambil-kirim {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .info-location {
        color: $gray-2;
        font-size: 0.9rem;
    }
    a {
        text-decoration: none;
    }
    li {
        display: inline-flex;
        align-items: center;
        span {
            border-radius: 50%;
            width: 0.9rem;
            height: 0.9rem;
            background: #fff;
            border: 1px solid #fff;
            margin-right: 0.75rem;
            transition: 0.3s;
            box-shadow: 0 0 0 3px $gray-2;
        }
        a {
            color: $gray-2;
            font-size: 1rem;
        }

        &.active {
            span {
                background: $primary;
                box-shadow: 0 0 0 3px $primary;
            }
            a {
                color: $primary;
            }
        }
    }
    select,
    input {
        &.input-custom {
            height: 45px;
            border-radius: 20px;
        }
    }
    .input-location {
        background: #fff url("../image/Icons/Location.svg") no-repeat 7px 9px;
        padding: 5px 10px 5px 40px;
    }
    .card {
        background: #fbf3f4;
        border: none;
        border-radius: 20px;
        margin-top: 30px;
        p {
            font-size: 0.9rem;
            margin: 0;
        }
    }
    .kirim-button {
        width: 8rem;
    }
    .time-deliver {
        color: $primary;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 4rem;
        font-weight: 5000;
        font-size: 1rem;
        border-radius: 20px;
        border: 2px solid $primary;
        transition: 0.4s;
        &:focus,
        &:hover {
            color: #ffffff;
            background: $primary;
            outline: none;
        }
    }
}
#regular {
    a {
        .card {
            color: #000000;
            background: #ffffff;
            border: none;
            border-bottom: 1px solid rgba($secondary, 0.2);
            transition: 0.4s;
        }
        &:focus,
        &:hover {
            .card {
                background: rgba($secondary, 0.2);
                border-bottom: none;
            }
        }
    }
}

#express,
#regular,
#alamatLain {
    .modal-title {
        color: $primary;
    }
}
#regular #date-pick,
#express #date {
    background: url("../image/Icons/Calendar-2.svg") 7px 7px no-repeat;
    height: 45px;
    padding: 0 5px 0 40px;
    border-radius: 5px;
}

#express {
    #time {
        background: url("../image/Icons/Clock.svg") 7px 7px no-repeat;
        height: 45px;
        padding: 0 5px 0 40px;
        border-radius: 5px;
    }
}
#alamatLain {
    .modal-dialog {
        width: 25rem;
    }
    select.input-custom {
        color: $gray-2;
    }
    textarea.input-custom {
        height: 5rem;
    }
    .search-location {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 10;
        .input-custom {
            text-align: center;
            height: 37px;
        }
    }
}
