#login {
    min-height: 100vh;
    .line {
        height: 1.5px;
        background: #8a464f;
    }
    .or {
        text-align: center;
        color: #8a464f;
        position: absolute;
        left: 50%;
        width: auto;
        background: $primary;
        font-size: 15px;
        padding: 0 5px;
        z-index: 2;
        transform: translate(-50%, -12px);
    }
    .img-logo {
        width: 7.5rem;
        margin: 2rem 0;
    }
}
.login-form {
    .custom-label {
        width: 100%;
        position: relative;
        .input-login {
            border: none;
            border: 1px solid $cream;
            color: $cream;
            background: transparent;
            padding: 5px 10px;
            height: 45px;
            width: 100%;
            border-radius: 50px;
            transition: border 0.3s;
            font-weight: 400;
        }
        .input-login:focus {
            outline: 0;
        }
        p {
            user-select: none;
            font-size: 1rem;
            position: absolute;
            top: 50%;
            background: $primary;
            transform: translateY(-50%);
            margin-left: 0.5rem;
            padding: 0 0.4rem;
            color: $cream;
            transition: all 0.3s;
            font-weight: 400;
        }
        .input-login:focus + p,
        .input-login:not(:placeholder-shown) + p {
            top: 0;
            margin-left: 1rem;
            font-size: 0.8rem;
        }
    }
    .label-check {
        color: $gray-5;
        span {
            font-weight: 400;
            font-size: 0.85rem;
        }
        & > .box {
            border-color: $cream;
            width: 20px;
        }
    }
    .custom-checkbox:checked + .label-check > .box {
        border-color: $cream;
    }
    .custom-checkbox:checked + .label-check > .box::before {
        animation: checked-box-two 125ms 250ms forwards;
    }
    .btn-login {
        position: relative;
        @include button($cream, $primary, 7rem, 35px, 50px);
        font-weight: 700;
        font-size: 1.25rem;

        @include centerX;
    }
    #toggle-password {
        color: $cream;
        &:hover {
            color: rgba($cream, 0.7);
        }
    }
}

.forgot-password {
    font-size: 1rem;
    font-weight: 400;
    color: $cream;
    text-decoration: underline;
    &:hover {
        color: $cream;
        text-decoration: underline;
    }
}
.privacy {
    font-size: 0.9rem;
    color: $cream;
    &:hover {
        color: $cream;
        text-decoration: underline;
    }
}
.login-footer {
    background: $primary;
    .not-account {
        background: $primary;
    }
}
.not-account {
    color: $gray-3;
    background: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    a {
        color: $cream;
    }
}
.address-container {
    width: 100%;
    height: 8rem;
    border: 1.5px solid rgba($primary, 0.2);
    border-radius: 15px;
}
#register {
    background: #ffffff;
    .not-account {
        position: relative;
        bottom: 0;
        color: $primary;
        a {
            color: $cream;
        }
    }
    .input-custom {
        border-radius: 20px;
    }
    .label-check,
    .custom--label {
        color: $primary;
    }
}

.btn-google {
    @include button($primary, #fff, 100%, 45px, 8px);
    &.login {
        background: $blue;
    }
}
.btn-social-media {
    @include button($gray-3, $gray-1, 45px, 45px, 8px);
    transition: 0.3s;
}
.input-custom#address {
    background: url("../image/Icons/Location.svg") 7px 5px no-repeat;
    padding: 0 5px 0 40px;
}
#other-register {
    a:hover {
        .facebook {
            background: #3b5998;
        }
        .twitter {
            background: #00acee;
        }
        .facebook,
        .twitter {
            color: #ffffff;
        }
    }
    .or {
        position: absolute;
        left: 50%;
        width: auto;
        color: rgba($primary, 0.5);
        background: #ffffff;
        font-size: 12px;
        padding: 0 5px;
        z-index: 2;
        transform: translate(-50%, -10px);
    }
}

#verification {
    .information {
        color: $gray;
        h5,
        .numb-email {
            font-weight: 600;
        }
        p {
            font-size: 0.9rem;
        }
        .numb-email {
            font-size: 1.3rem;
        }
    }
    .digit-group {
        .input-code {
            width: 30px;
            height: 50px;
            border: none;
            line-height: 50px;
            text-align: center;
            font-size: 24px;
            font-weight: 600;
            border-bottom: 3px solid $gray-2;
            margin: 0 7px;
            &:focus {
                outline: none;
                border-color: $secondary;
            }
        }
        p {
            color: $gray-2;
        }
        .splitter {
            padding: 0 5px;
            color: white;
            font-size: 24px;
        }
    }
    .resend {
        color: $gray;
    }
}

#reset-password {
    p {
        font-size: 0.9rem;
        margin-bottom: 1.5rem;
    }
}
#passwordBaru {
    p {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }
    .input-custom {
        height: 43px;
    }
}
