#cart {
    .card {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background: rgba($secondary, 0.2);
        border: none;
        img {
            position: absolute;
            width: 7.5rem;
            height: 7.5rem;
            top: -15px;
            left: -7.5px;
        }
    }
    .cart-name {
        color: $dark-red;
    }
    .cart-price,
    .cart-weight {
        margin: 0;
        padding: 0;
    }
    .cart-price {
        font-size: 1.1rem;
        color: $dark-red;
    }
    .cart-weight {
        color: $gray-1;
        font-size: 0.8rem;
    }
    .qty {
        display: flex;
        justify-content: center;
        border: none;
        border-radius: 5px;
        width: 100%;
    }
    input,
    button {
        border: none;
        border-radius: 5px;
        text-align: center;
        &:focus {
            outline: none;
            border: none;
        }
    }
    button {
        &.qty-minus,
        &.qty-plus {
            background: $gray-2;
            width: 2rem;
            height: 2.5rem;
        }
    }
    input {
        width: 100%;
        background: #fff;
        font-weight: 700;
    }
    .discount {
        font-size: 0.8rem;
        .coret {
            color: $gray-3;
            text-decoration: line-through;
        }
    }
    .img-edit {
        width: 1.2rem;
        margin-left: 0.5rem;
    }
}

#total {
    width: 100%;
    padding: 0 1rem;
    .total-title,
    .total-nominal,
    .total-hemat-title,
    .total-hemat-nominal {
        padding: 0;
        margin: 0;
    }
    .applied {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        .data-voucher {
            font-size: 1rem;
            color: $secondary;
        }
    }
    .line {
        background: #000;
        height: 2px;
    }
}

.btn-voucher {
    border: none;
    background: transparent;
    @include clear;
}
