.label-check {
    display: flex;
    align-items: flex-start;
    color: $gray;
    font-size: 0.9rem;
    position: relative;

    & > .box {
        width: 35px;
        height: 20px;
        display: flex;
        justify-content: center;
        border: 1px solid $primary;
        margin-right: 15px;
        border-radius: 3px;
        transition: all 0.3s;
    }
}

.custom-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
}

.custom-checkbox:checked + .label-check > .box {
    border: 10px solid $primary;
    width: 20px;
    animation: bounce 250ms;
}

.custom-checkbox:checked + .label-check > .box::before {
    content: "";
    position: absolute;
    top: 5.5px;
    left: 4px;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    animation: checked-box 125ms 250ms forwards;
}
.custom-checkbox.non-all:checked + .label-check > .box::before {
    top: 3.5px;
}
@media only screen and (max-width: 500px) {
    .label-check {
        & > .box {
            width: 45px;
            margin-right: 14px;
        }
    }
}
@media only screen and (max-width: 400px) {
    .label-check {
        & > .box {
            width: 52px;
            margin-right: 12px;
        }
    }
}
@media only screen and (max-width: 321px) {
    .label-check {
        & > .box {
            width: 62px;
            margin-right: 10px;
        }
    }
}
@media only screen and (max-width: 300px) {
    .label-check {
        & > .box {
            width: 75px;
            margin-right: 8px;
        }
    }
}

@keyframes checked-box {
    0% {
        width: 0;
        height: 0;
        border-color: #fff;
        transform: translate(0, 0) rotate(45deg);
    }
    33% {
        width: 7px;
        height: 0;
        border-color: #fff;
        transform: translate(0, 0) rotate(45deg);
    }
    100% {
        width: 7px;
        height: 12px;
        border-color: #fff;
        transform: translate(-1px, -8px) rotate(45deg);
    }
}
@keyframes checked-box-two {
    0% {
        width: 0;
        height: 0;
        border-color: $primary;
        transform: translate(0, 0) rotate(45deg);
    }
    33% {
        width: 7px;
        height: 0;
        border-color: $primary;
        transform: translate(0, 0) rotate(45deg);
    }
    100% {
        width: 7px;
        height: 12px;
        border-color: $primary;
        transform: translate(-1px, -8px) rotate(45deg);
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}
