#detail {
    #image-slider {
        figure {
            width: 100%;
            height: 25rem;
            img {
                width: 100%;
                height: 25rem;
                object-fit: cover;
            }
        }
        .slick-dots {
            transform: translateY(-3rem);
            li {
                margin: 0 0.1rem;
                button {
                    display: block;
                    width: 0.5rem;
                    height: 0.5rem;
                    background: $gray-3;
                    transition: 0.3s;
                    border-radius: 50%;
                    padding: 0;
                    text-indent: -9999px;
                }
                &.slick-active,
                &:hover {
                    button {
                        background: $cream;
                    }
                }
            }
        }
        .arrow-prev,
        .arrow-next {
            position: absolute;
            top: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            width: 2.3rem;
            height: 2.3rem;
            border-radius: 50%;
            cursor: pointer;
            z-index: 10;
            transform: translateY(-50%);
            transition: 0.3s;
        }
        .arrow-prev {
            left: 5%;
            background: rgba($gray-3, 0.7);
            &:hover {
                background: rgba($gray-3, 1);
            }
        }
        .arrow-next {
            right: 5%;
            background: $primary;
            &:hover {
                background: $dark-red;
            }
        }
    }
    #information {
        background: #ffffff;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        a {
            text-decoration: none;
            .card {
                background: #ffffff;
                border: 2px solid $secondary;
                border-radius: 8px;
                transition: 0.3s;
            }
            .detail-variant {
                margin: 0;
                padding: 0;
                transition: 0.3s;
                color: $gray;
                span {
                    font-size: 0.8rem;
                }
            }
            &:focus,
            &:hover {
                .card {
                    transform: scale(1.1);
                }
                .detail-variant {
                    color: #ffffff;
                }
            }
        }
        .discount-price {
            color: $gray-3;
            text-decoration: line-through;
        }
        .detail-name {
            width: auto;
            display: inline-block;
            padding-bottom: 0.5rem;
            font-weight: 600;
            border-bottom: 2px solid $secondary;
        }
        .detail-promo {
            color: $primary;
            background: rgba($secondary, 0.2);
            padding: 0.25rem 1rem;
        }
        .description {
            color: $gray-2;
        }
        .detail-promo,
        .description {
            font-size: 0.9rem;
        }
        .text-left {
            h5 {
                color: $primary;
            }
        }
        .text-right {
            p {
                font-size: 1.25rem;
            }
        }
        .variant-group {
            display: flex;
            flex-direction: row;
            align-items: center;

            .input-custom {
                width: 60%;
                margin-right: 0.5rem;
                border-radius: 25px;
            }
            .group-qty {
                width: 40%;
                margin-left: 0.5rem;
                display: flex;
                align-items: center;
                flex-direction: row;

                .btn-plus,
                .btn-minus {
                    background: $primary;
                    color: #fff;
                    border-radius: 50%;
                    width: 40px;
                    height: 27px;
                    font-size: 1.1rem;
                    border: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        background: $dark-red;
                    }
                    @include clear;
                }
                .btn-minus {
                    &:disabled {
                        background: $gray-3;
                    }
                }
                .input-qty {
                    border: none;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
    #recommend {
        position: relative;
        background: #fff;
        border-top: 2px solid $gray-4;
        .recommend-title {
            color: $primary;
        }
        .arrow-next {
            position: absolute;
            top: -2.7rem;
            right: 5%;
            color: $primary;
            cursor: pointer;
            z-index: 10;
            transition: 0.3s;
            &:hover {
                color: $dark-red;
            }
        }
        .recommend-slider {
            .card {
                position: relative;
                height: 18rem;
                border-radius: 10px;
                .top-card {
                    position: relative;
                    height: 12rem;
                    border-radius: inherit;
                    .recommend-img {
                        height: 100%;
                        border-radius: inherit;
                        margin: 0;
                    }
                }
                .bot-card {
                    padding: 0.1rem 0.5rem;
                    .recommend-name {
                        font-weight: 600;
                        font-size: 0.8rem;
                    }
                    .recommend-coret {
                        font-weight: 400;
                        text-decoration: line-through;
                        font-size: 0.85rem;
                    }
                    .recommend-coret,
                    .recommend-name {
                        color: $gray-1;
                    }
                    .recommend-price {
                        color: $primary;
                        font-size: 1rem;
                    }
                    .recommend-persen {
                        color: $primary;
                        background: $cream;
                        font-size: 0.9rem;
                        padding: 0.1rem 0.3rem;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}
