@font-face {
    font-family: "Baloo2";
    src: url("../fonts/Baloo2/Baloo2-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Baloo2";
    src: url("../fonts/Baloo2/Baloo2-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Baloo2";
    src: url("../fonts/Baloo2/Baloo2-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Baloo2";
    src: url("../fonts/Baloo2/Baloo2-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Baloo2";
    src: url("../fonts/Baloo2/Baloo2-ExtraBold.ttf");
    font-weight: 800;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
.r0 {
    right: 0;
}
body {
    font-family: "Baloo2", sans-serif;
    font-weight: 500;
    background: #fafafa;
    height: 100vh;

    .preloader,
    #login,
    .navbar-collapse {
        background: $primary;
    }
    .detail-name,
    #reset-password h4,
    #passwordBaru h4,
    #kategori a,
    #product .item-name,
    #product .item-price,
    #total .total-title,
    #total .total-nominal,
    #total .total-hemat-title,
    #total .total-hemat-nominal,
    #voucher a span,
    #voucher a i,
    .voucher-detail,
    .title-voucher,
    .title-location,
    #lokasi-pengambilan .input-location,
    #payment .date,
    .account-name,
    .account-number,
    #payment .change-image,
    .privacy-policy-subtitle,
    .privacy-policy .other span {
        color: $primary;
    }
    #verification .digit-group .input-code,
    #verification .resend a,
    .navbar-toggler,
    .navbar .nav-link,
    .navbar .logout {
        color: $secondary;
    }

    header,
    main,
    footer {
        width: 500px;
        left: 50%;
        transform: translateX(-50%);
    }
    main {
        position: relative;
        background: #fff;
        min-height: 100%;
    }
    header {
        background: $primary;
        position: fixed;
        z-index: 100;
        box-shadow: -1px 8px 10px -6px $gray-1;
        .title-page {
            color: #fff;
        }
        &#home {
            background: #fff;
            box-shadow: none;
            .title-page {
                color: $dark-red;
            }
        }
        &#detail,
        &#notif {
            background: $primary;
            box-shadow: none;
        }
    }
    footer {
        position: fixed;
        bottom: 0;
        z-index: 10;
        &.footer-slider {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            background: transparent;
        }
    }
    .intro-inner {
        position: relative;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        img {
            position: relative;
            width: 500px;
            height: auto;
            object-fit: fill;
        }
    }
    .btn-next {
        @include button($blue, #fff, 100px, 37px, 5px);
        transform: translate(-1rem, -1rem);
        @include clear;
        &:hover {
            background: #4c79bb;
        }
    }
    .title-page {
        font-size: 1.5rem;
    }
    .line {
        width: 100%;
        height: 0.5px;
        background: rgba($primary, 0.2);
    }

    .btn-confirm {
        @include button($primary, #fff, 100%, 40px, 50px);
        border: 2px solid $dark-red;
        font-weight: 600;
        transition: 0.3s;
        &-one {
            @include button(#fff, $dark-red, 100%, 40px, 50px);
            border: 2px solid $dark-red;
            font-weight: 600;
            transition: 0.3s;
            &:disabled {
                background: #ffffff;
                border-color: $gray-2;
                color: $gray-2;
                pointer-events: none;
            }
        }
        &,
        &-one {
            &:hover {
                background: $dark-red;
                color: #fff;
            }
        }
        &:disabled {
            background: $gray-3;
            border-color: $gray-2;
            pointer-events: none;
        }
    }
    // .slick-slide {
    // }
    .form-search {
        width: 100%;
        .card {
            position: relative;
            border-radius: 50px;
            width: 100%;
            height: 43px;
            border: none;
            box-shadow: 1px 1px 20px 0 rgba(#000000, 0.05),
                -1px -1px 20px 0 rgba(#000000, 0.05);
            input {
                width: 100%;
                height: 45px;
                padding: 10px 0 10px 20px;
                border: none;
                background: transparent;
                &:focus {
                    border: none;
                    outline: none;
                    box-shadow: none;
                }
                &::placeholder {
                    font-size: 0.9rem;
                    color: $gray-2;
                }
            }
            .img-search {
                position: absolute;
                right: 1rem;
                width: 2.3rem;
                height: 2.3rem;
                @include centerY;
            }
        }
    }
    #kategori {
        .card {
            position: relative;
            background: #fff;
            border-radius: 15px;
            &.semua {
                background: rgba($secondary, 0.2);
                border: none;
            }
        }
        a {
            text-decoration: none;
            font-size: 0.8rem;
            @include clear;
        }
        .kategori-icons {
            display: inline-block;
            height: 20px;
        }
    }

    #product {
        .card {
            position: relative;
            background: #fff;
            border: none;
            height: 18rem;
            .top-card {
                position: relative;
                width: 100%;
                height: 80%;
                border-radius: 15px;
                .item-name {
                    color: #fff;
                    position: absolute;
                    bottom: 5%;
                    width: 100%;
                    font-size: 1rem;
                    text-align: center;
                }
                .price {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: row;
                    padding: 0.5rem;
                }
                .item-price {
                    background: #fff;
                    &.text-coret {
                        text-decoration: line-through;
                        margin-right: 0.2rem;
                    }
                }
                .item-diskon,
                .diskon-persen {
                    background: $cream;
                }
                .item-diskon,
                .item-price,
                .diskon-persen {
                    color: $primary;
                    font-size: 0.75rem;
                    font-weight: 600;
                    text-align: center;
                    border-radius: 7px;
                    padding: 0.1rem 0;
                }
            }
            .bot-card {
                position: relative;
                height: 20%;
                .btn-add {
                    position: absolute;
                    @include button($primary, #fff, 100%, auto, 50px);
                    border: 1px solid #ac1f24;
                    font-size: 1rem;
                    font-weight: 600;
                    padding: 0.1rem 0;
                    transition: 0.3s;
                    @include centerY;
                    &:hover {
                        color: #fff;
                        background: $dark-red;
                        border-color: $primary;
                    }
                }
            }
            &.stock-none {
                pointer-events: none;
                .top-card {
                    &:after {
                        content: "Stok Habis";
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        font-size: 1.2rem;
                        font-weight: 700;
                        color: $primary;
                        background: rgba($gray-3, 0.7);
                        border-radius: inherit;
                        z-index: 3;
                    }
                }
            }
        }
    }
    ul {
        li {
            list-style: none;
        }
    }
    main {
        padding-bottom: 1rem;
        &#single {
            padding-bottom: 0;
        }
    }
    .privacy-policy {
        &-content {
            color: $gray;

            text-indent: 3rem;
        }
        &-content,
        .other,
        li {
            font-size: 15px;
        }
        li {
            list-style: square;
        }
    }
}
.discount-value {
    width: 85px;
    color: #000000;
    background: $cream;
    font-size: 0.7rem;
    text-align: center;
    border-radius: 20px;
}
.input-group-custom {
    position: relative;
    display: flex;
    align-items: center;
}
.custom--label {
    width: 100%;
    position: relative;
    color: $gray;
    font-size: 14px;
}
.input-custom {
    border: 1.5px solid rgba($primary, 0.2);
    border-radius: 50px;
    width: 100%;
    height: 40px;
    transition: 0.3s;
    font-size: 15px;
    padding: 0 10px;
    &:focus {
        border-color: $primary;
        outline: none;
    }
    &::placeholder {
        color: $gray-2;
        padding: 0.5rem;
    }
}
textarea.input-custom {
    height: 8rem;
    border-radius: 15px;
}
#toggle-password {
    position: absolute;
    color: $primary;
    display: block;
    right: 15px;
    cursor: pointer;
    @include centerY;
    z-index: 2;
    &:hover {
        color: $secondary;
    }
}
.modal-dialog {
    width: 18rem;
}
.modal-content {
    border-radius: 15px;
}
.modal-header {
    border: none;
}
.btn-confirm-two {
    @include button($secondary, #fff, auto, auto, 5px);
    padding: 0.1rem 1rem;
}
.modal-footer {
    .btn-cancel {
        @include button($gray-3, #fff, 100%, 40px, 50px);
        transition: 0.3s;
        &:hover {
            background: #aaaaaa;
        }
    }
    .btn-choose {
        @include button($secondary, #fff, 100%, 40px, 50px);
        transition: 0.3s;
        &:hover {
            background: #a14d58;
        }
    }
}

.slick-slide {
    outline: none;
    border: 0;
    margin: 0 7px;
}
/* the parent */
.slick-list {
    margin: 0 -7px;
}
