.navbar {
    .navbar-nav,
    .data-profile {
        width: 100%;
    }
    .navbar-nav {
        border-bottom: 2px solid $secondary;
    }
    .img-dashboard {
        height: 2.4rem;
    }
    .img-logo {
        height: 3.5rem;
    }
    .img-notif {
        height: 2.4rem;
    }
    .navbar-toggler,
    .notif {
        margin-top: 10px;
    }

    .navbar-toggler {
        width: 2.3rem;
        height: 2.3rem;
        &:focus {
            outline: none;
        }
    }
    .notif {
        span {
            position: absolute;
            right: 40px;
            width: 1.1rem;
            height: 1.1rem;
            border-radius: 50%;
            background: $cream;
        }
    }
    .navbar-collapse {
        min-height: 100vh;
        position: fixed;
        width: 75%;
        top: 0;
        left: 0;
        z-index: 100;
    }
    .edit {
        text-decoration: none;
        figure {
            width: 40px;
            height: 40px;
            box-shadow: 1px 1px 45px -5px rgba($gray-1, 0.2),
                -1px -1px 45px -5px rgba($gray-1, 0.2);
            border-radius: 6px;
            transition: 0.3s;
            img {
                margin-top: 8px;
                width: 23px;
                height: 23px;
            }
        }
        &:hover,
        &:focus {
            figure {
                background: rgba($secondary, 0.2);
            }
        }
    }
    .photo-profile {
        width: 3.3rem;
        height: 3.3rem;
        clip-path: circle(50% at 50% 50%);
    }
    .name-profile,
    .address-profile {
        padding: 0;
        margin: 0;
        color: #ffffff;
    }
    .address-profile {
        font-weight: 400;
    }
    .nav-link,
    .name-profile,
    .address-profile,
    .log {
        font-size: 1rem;
    }
    .log {
        color: $dark-red;
        background: $cream;
        text-decoration: none;
        border-radius: 50px;
        padding: 0.3rem 1rem;
    }
}

footer {
    background: #fff;
    padding: 0;
}

.bot-nav {
    background: $primary;
    display: flex;
    justify-content: space-around;
    padding: 0.7rem 0;
    margin: 0;
    .bot-nav-item {
        list-style: none;
        .bot-nav-link {
            text-decoration: none;
            .bot-nav-text {
                color: #fff;
            }
            img {
                display: block;
                height: 30px;
            }
            .bot-nav-text,
            img {
                opacity: 0.5;
            }
            .cart-counter {
                position: absolute;
                left: 50%;
                bottom: 50px;
                width: 1.1rem;
                height: 1.1rem;
                font-size: 0.9rem;
                line-height: 1.2rem;
                border-radius: 50%;
                background: $cream;
                transform: translateX(-50%);
            }
        }
        &.active,
        &:hover {
            .bot-nav-link {
                .bot-nav-text,
                img {
                    opacity: 1;
                }
            }
        }
    }
}
