#listNotifikasi {
    a {
        .card {
            border: none;
            border-radius: 20px;
            .figure-notifikasi {
                width: 100%;
                height: 100%;
                border-right: 1px solid rgba($blue, 0.5);
            }
            .img-notifikasi {
                width: 50px;
                position: relative;
                @include center(50%, 50%, -50%, -50%);
            }
            .title-list-notifikasi {
                font-size: 1.3rem;
                font-weight: 600;
                margin-top: 8px;
            }
            .content-list-notifikasi {
                margin: 0;
                color: $gray-1;
                font-size: 0.7rem;
                font-weight: 400;
                margin-bottom: 8px;
            }
            &.promo,
            &.general {
                background: rgba($blue, 0.1);
                .title-list-notifikasi {
                    color: $blue;
                }
            }
            &.pending,
            &.diproses,
            &.diantar {
                background: $pastel-4;
                .title-list-notifikasi {
                    color: $cream;
                }
            }
            &.done {
                background: $blue-gray-1;
                .title-list-notifikasi {
                    color: $green;
                }
            }
            &.ditolak,
            &.canceled {
                background: rgba($secondary, 0.2);
                .title-list-notifikasi {
                    color: $secondary;
                }
            }
            &.dibuat,
            &.diterima {
                background: $blue-gray-1;
                .title-list-notifikasi {
                    color: #43cd40;
                }
            }
            &.readed {
                filter: grayscale(100%);
                .title-list-notifikasi,
                .content-list-notifikasi,
                .img-notifikasi {
                    filter: grayscale(100%);
                }
            }
        }
    }
}
.button-group {
    background: #fff;
    width: 100%;
    z-index: 3;
    .btn-confirm.mark-read,
    .btn-confirm-one {
        height: 30px;
        font-size: 0.8rem;
    }
}
#detailNotifikasi {
    #header {
        background: rgba($blue, 0.1);
        height: 100%;
        .img-notifikasi-detail {
            height: 40px;
            display: inline-block;
        }
        .title-detail-notifikasi {
            color: $blue;
            font-size: 1.3rem;
            font-weight: 600;
            margin: 0;
        }
        &.done {
            background: $blue-gray-1;
            .title-detail-notifikasi {
                color: $green;
            }
        }
        &.pending {
            background: $pastel-4;
            .title-detail-notifikasi {
                color: $cream;
            }
        }
    }
    .content-detail-notifikasi {
        margin: 10px 0;
        text-align: justify;
    }
    .decsription,
    .content-detail-notifikasi {
        color: $gray;
        font-size: 0.9rem;
        font-weight: 400;
    }
    .decsription {
        margin-bottom: 5px;
    }
}
