#bill {
    #bill-list {
        .card {
            background: $pastel-3;
            border-radius: 20px;
        }
        img {
            position: absolute;
            height: 100px;
            @include center(50%, 50%, -50%, -50%);
        }
    }

    .bill-price,
    .bill-name,
    .bill-title,
    .bill-qty h3,
    .bank-title {
        color: $primary;
    }
    .bill-price {
        font-size: 1.2rem;
    }
    .bill-weight {
        color: $gray-1;
        font-size: 0.8rem;
        margin: 5px 0;
    }

    .bill-qty {
        width: 100%;
        height: 100%;
        border-left: 2px solid rgba($secondary, 0.2);
        h3 {
            position: absolute;
            @include center(50%, 50%, -50%, -50%);
        }
    }

    .data-bill {
        border-bottom: 1px solid $gray-1;
    }

    .total-title,
    .total-nominal,
    .pay-total {
        color: $gray-1;
        font-size: 1rem;
    }
}
#payment-method {
    .btn-confirm {
        width: 60px;
        height: 30px;
        font-size: 0.8rem;
    }
}
#choosen-method {
    .card {
        border: none;
        border-radius: 0;
        background: #ffffff;
        box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.25),
            -1px -1px 5px 0 rgba(0, 0, 0, 0.25);
    }
    .img-payment {
        position: absolute;
        @include center(50%, 50%, -50%, -50%);
        height: 30px;
    }
    .keterangan {
        color: $gray-2;
    }
}
#payment {
    .payment-title,
    #payment-bill h6 {
        color: #000000;
    }
    .date {
        background: $pastel-3;
        border-radius: 15px;
    }
    .card {
        background: $pastel-3;
        border-radius: 20px;
    }
    .img-bank {
        height: 35px;
    }
    .account-name {
        font-size: 0.9rem;
    }
    .account-number {
        font-size: 1.105rem;
    }
    #method {
        .btn-confirm {
            width: 60px;
            height: 30px;
            font-size: 0.8rem;
            margin: 0;
        }
    }
    #tglTransfer {
        position: relative;
    }
    .img-calendar {
        position: absolute;
        right: 1rem;
        width: auto;
        height: auto;
        transform: translateY(5px);
    }
    .input-custom {
        height: 45px;
        border-radius: 15px;
    }
    #payment-bill {
        h6 {
            font-size: 1.1rem;
            margin: 0;
        }
    }
    #evidence {
        width: 100%;
        height: 10rem;
    }
    .file-upload-content {
        display: none;
        text-align: center;
    }

    .file-upload-input {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }

    .image-upload-field {
        margin-top: 20px;
        border-radius: 20px;
        background: rgba($secondary, 0.2);
        position: relative;
        transition: 0.5s;
    }

    .image-dropping,
    .image-upload-field:hover {
        background: $secondary;
    }

    .image-title-wrap {
        padding: 0 15px 15px 15px;
        color: $primary;
    }

    .icons-upload {
        text-align: center;
        height: 10rem;
        h6 {
            color: $primary;
        }
        img {
            margin-top: 3rem;
        }
    }

    .file-upload-image {
        max-height: 200px;
        max-width: 200px;
        margin: auto;
        padding: 20px;
    }
    .change-image {
        position: relative;
        width: 100%;
        height: 46px;
        background: rgba($secondary, 0.2);
        border-radius: 15px;
        transition: 0.5s;
        border: none;
        font-weight: 600;
        @include clear;
        &:hover {
            background: $secondary;
        }
    }
    .btn-confirm {
        margin-top: 10rem;
    }
}
#cod {
    margin-top: 10rem;
    .btn-confirm {
        margin-top: 0;
    }
}
#ganti-metode {
    a {
        .card {
            border: none;
            border-radius: 0;
        }
        &:focus,
        &:hover {
            .card {
                background: $blue-gray-1;
            }
        }
    }
}
#lainnya {
    a {
        .card {
            display: flex;
            flex-direction: row;
            align-items: center;
            border: none;
            box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.25),
                -1px -1px 5px 0 rgba(0, 0, 0, 0.25);
            transition: 0.3s;

            figure {
                position: relative;
                width: 35%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
            }
            .info {
                width: 65%;
                .title {
                    color: $gray;
                }
                .content {
                    color: $gray-2;
                }
                .title,
                .content {
                    font-size: 0.75rem;
                }
            }
        }
        &:hover,
        &:focus {
            .card {
                background: $gray-4;
            }
        }
    }
}
#ganti-metode,
#transfer-method {
    .modal-dialog {
        width: 24rem;
    }
    .modal-content {
        border-radius: 15px;
    }
    .modal-footer {
        border: none;
    }
    .modal-title {
        color: $primary;
    }
    a {
        .card {
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 1px solid $gray-3;
            transition: 0.3s;

            figure {
                position: relative;
                width: 35%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
            }
            .info {
                width: 65%;
                .title {
                    color: $gray;
                }
                .content {
                    color: $gray-2;
                }
                .title,
                .content {
                    font-size: 0.75rem;
                }
            }
        }
        &:hover,
        &:focus {
            .card {
                background: $gray-4;
            }
        }
    }
}
.btn-choose-payment {
    background: #fff;
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
    border: none;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.25),
        -1px -1px 5px 0 rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    &:hover,
    &:focus {
        background: $gray-4;
    }
}
#accordionPayment {
    .card {
        border: 1px solid $gray-3;
        border-radius: 0;
        .card-header {
            border: 1px solid $gray-3;
            border-bottom: 1px solid $gray-3 !important;
            background: #fff;
        }
        .card-body {
            border: none;
        }
        .btn-transparent {
            @include button(#fff, #000, 100%, auto, 0);
            font-size: 1rem;
            font-weight: 500;
            transition: 0.3s;
            &::after {
                content: "\f077";
            }
            &:after,
            &.collapsed:after {
                position: absolute;
                right: 10px;
                font-size: 1.2rem;
                font-weight: 900;
                display: inline-block;
                color: $primary;
                font-family: "Font Awesome\ 5 Free";
                z-index: 2;
            }
            &.collapsed {
                &:after {
                    content: "\f078";
                }
            }
            @include clear;
        }
    }
}
