.preloader {
    position: fixed;
    top: 0;
    width: 500px;
    left: 50%;
    transform: translateX(-50%);
    min-height: 100vh;
    align-items: center;
    background: $primary;
    z-index: 10000;

    .preloader-inner {
        img {
            position: absolute;
            @include center(50%, 50%, -50%, -50%);
            width: 50%;
        }
    }
}

.intro {
    position: fixed;
    top: 0;
    width: 500px;
    left: 50%;
    transform: translateX(-50%);
    min-height: 100vh;
    align-items: center;
    background: $primary;
    z-index: 10000;

    .intro-inner {
        img {
            position: absolute;
            @include center(50%, 50%, -50%, -50%);
            width: 100%;
        }
    }
}