#profile {
    .profile-title,
    .profile-content {
        color: #000000;
    }
    .profile-title {
        font-size: 1rem;
        margin-bottom: 0.7rem;
    }
    figure {
        padding: 5px;
    }
    .img-profil {
        width: 6rem;
        height: 6rem;
        clip-path: circle(50% at 50% 50%);
    }
    .card {
        background: $pastel-3;
        border-radius: 20px;
    }
    .profile-content {
        font-size: 0.9rem;
        margin: 0;
    }
}
#profileEdit {
    .card {
        &.join {
            background: rgba($secondary, 0.2);
            border-radius: 20px;
        }
        .join-date {
            color: #000;
        }
    }
    .img-profil-edit {
        width: 6rem;
        height: 6rem;
        clip-path: circle(50% at 50% 50%);
    }
    figure {
        padding: 5px;
    }
    .edit-foto {
        position: absolute;
        width: 5.5rem;
        z-index: 1;
        top: 163px;
        left: 50%;
        transform: translateX(-50%);
    }
    #input-foto {
        position: absolute;
        width: 4rem;
        z-index: 2;
        top: 163px;
        left: 50%;
        transform: translateX(-80%);
        opacity: 0;
    }
    .input-custom {
        font-size: 0.9rem;
        height: 3rem;
        border-radius: 15px;
        border: 2px solid rgba($secondary, 0.2);
        &:focus {
            border-color: $secondary;
        }
    }
    .input-custom#search_address {
        background: url("../image/Icons/Location.svg") 7px 5px no-repeat;
        padding: 0 5px 0 40px;
    }
    .btn-cancel {
        @include button($gray-3, #fff, 100%, 35px, 11px);
        transition: 0.3s;
        &:hover {
            background: #afafaf;
        }
    }
    .btn-save {
        @include button($primary, #fff, 100%, 35px, 11px);
        transition: 0.3s;
        &:hover {
            background: $dark-red;
        }
    }
}
