@media only screen and (max-width: 500px) {
    body {
        header,
        main,
        footer {
            width: 100%;
        }
        #product {
            .card {
                height: 16rem;
                .top-card {
                    .item-name {
                        font-size: 0.9rem;
                    }
                    .price {
                        padding: 0.4rem;
                    }
                    .item-price,
                    .item-diskon,
                    .diskon-persen {
                        font-size: 0.6rem;
                    }
                }
            }
        }
        .intro-inner {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .discount-value {
        font-size: 0.65rem;
    }
    .navbar {
        .photo-profile {
            width: 3.2rem;
            height: 3.2rem;
        }
        .name-profile,
        .address-profile,
        .nav-link,
        .log {
            font-size: 0.9rem;
        }
        .img-dashboard {
            height: 2.2rem;
        }
        .img-logo {
            height: 3.3rem;
        }
        .img-notif {
            height: 2.2rem;
        }
        .notif {
            span {
                right: 40px;
                transform: translateY(-2px);
            }
        }
    }
    #login {
        .img-logo {
            margin-bottom: 2rem;
            margin-top: 2rem;
        }
    }
    .not-account {
        font-size: 1.1rem;
    }
    #detail {
        #information {
            a {
                .detail-variant {
                    font-size: 1.2rem;
                }
            }
            .variant-group {
                .input-custom {
                    width: 55%;
                }
                .group-qty {
                    width: 45%;
                }
            }
        }
    }
    #cart {
        .card {
            width: 5rem;
            height: 5rem;
            img {
                width: 6rem;
                height: 6rem;
                top: -13px;
                left: -5px;
            }
        }
        .cart-name {
            font-size: 0.85rem;
        }
        .cart-weight {
            font-size: 0.6rem;
        }
        .discount-price,
        .cart-price {
            font-size: 0.7rem;
        }
    }
    .title-voucher {
        font-size: 1.5rem;
    }
    #bill {
        #bill-list {
            img {
                height: 75px;
            }
        }
        .bill-price,
        .bill-name {
            font-size: 1.05rem;
        }
        .bill-weight {
            font-size: 0.75rem;
        }
        .bill-qty {
            h3 {
                font-size: 1.35rem;
            }
        }
    }
    #choosen-methode {
        a {
            .bank-title,
            .keterangan {
                font-size: 0.9rem;
            }
        }
    }
    #payment {
        .icons-upload {
            h6 {
                font-size: 0.9rem;
            }
        }
    }
    #listNotifikasi {
        .card {
            .img-notifikasi {
                width: 45px;
            }
            .title-list-notifikasi {
                font-size: 1.2rem;
            }
            .content-list-notifikasi {
                font-size: 0.55rem;
            }
        }
    }
}
@media only screen and (max-width: 400px) {
    body {
        .form-search {
            .card {
                .img-search {
                    right: 0.5rem;
                }
            }
        }
        #product {
            .card {
                height: 13rem;
                .top-card {
                    .item-name {
                        font-size: 0.8rem;
                    }
                    .price {
                        padding: 0.4rem 0.3rem;
                    }
                    .item-price,
                    .item-diskon,
                    .diskon-persen {
                        font-size: 0.5rem;
                    }
                }
            }
        }
    }
    .discount-value {
        font-size: 0.6rem;
    }
    .navbar {
        .photo-profile {
            width: 3.1rem;
            height: 3.1rem;
        }
        .name-profile,
        .address-profile,
        .nav-link,
        .log {
            font-size: 0.8rem;
        }
        .img-dashboard {
            height: 2rem;
        }
        .img-logo {
            height: 3rem;
        }
        .img-notif {
            height: 2rem;
        }
        .notif {
            span {
                right: 40px;
                transform: translateY(-4px);
            }
        }
    }
    .btn-google {
        font-size: 0.8rem;
    }
    #verification {
        .information {
            h5,
            .numb-email {
                font-size: 1rem;
            }
            p {
                font-size: 0.8rem;
            }
        }
        .digit-group {
            p {
                font-size: 0.8rem;
            }
        }
        .resend {
            font-size: 0.8rem;
        }
    }
    #detail {
        #information {
            a {
                .detail-variant {
                    font-size: 0.9rem;
                    span {
                        font-size: 0.7rem;
                    }
                }
            }
            .variant-group {
                .group-qty {
                    .btn-plus,
                    .btn-minus {
                        width: 35px;
                        height: 24px;
                        font-size: 0.8rem;
                    }
                }
            }
            .detail-name {
                font-size: 1.4rem;
            }
            .text-left {
                h5 {
                    font-size: 0.9rem;
                }
            }
            .text-right {
                p {
                    font-size: 0.9rem;
                }
            }
        }
        #recommend {
            .recommend-slider {
                .card {
                    .bot-card {
                        padding: 0.1rem 0.3rem;
                        .recommend-name {
                            font-size: 0.7rem;
                        }
                        .recommend-coret {
                            font-size: 0.75rem;
                        }
                        .recommend-price {
                            font-size: 0.9rem;
                        }
                        .recommend-persen {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
    #cart {
        .card {
            width: 4.5rem;
            height: 4.5rem;
            img {
                width: 5rem;
                height: 5rem;
                top: -11px;
                left: -4.5px;
            }
        }
        .cart-name {
            font-size: 0.8rem;
        }
        .cart-weight {
            font-size: 0.55rem;
        }
        .discount-price,
        .cart-price {
            font-size: 0.65rem;
        }
    }
    #successAdd,
    #paymentConfirm,
    #voucher {
        .modal-dialog {
            width: 16rem;
        }
    }
    #ganti-metode,
    #transfer-method,
    #lainnya {
        .modal-dialog {
            width: 21rem;
        }
    }
    .title-voucher {
        font-size: 1.3rem;
    }
    #lokasi-pengambilan {
        li {
            span {
                width: 0.75rem;
                height: 0.75rem;
                margin-right: 0.65rem;
            }
            a {
                font-size: 0.8rem;
            }
        }
    }
    #bill {
        #bill-list {
            img {
                height: 70px;
            }
        }
        .bill-price,
        .bill-name {
            font-size: 0.9rem;
        }
        .bill-weight {
            font-size: 0.65rem;
        }
        .bill-qty {
            h3 {
                font-size: 1.2rem;
            }
        }
        .bill-title {
            font-size: 1.1rem;
        }
        .total-title,
        .total-nominal {
            p {
                font-size: 1rem;
            }
        }
        .pay-total {
            font-size: 1.05rem;
        }
    }
    #choosen-method {
        a {
            .img-payment {
                height: 25px;
            }
            .bank-title,
            .keterangan {
                font-size: 0.7rem;
            }
        }
    }
    #payment {
        .payment-title {
            font-size: 1.1rem;
        }
        .payment-type {
            font-size: 0.9rem;
        }
        .date {
            font-size: 1.6rem;
        }
        .img-copy {
            height: 28px;
        }
        .img-bank {
            height: 27px;
        }
        #payment-bill {
            h6 {
                font-size: 1rem;
            }
        }
        .icons-upload {
            h6 {
                font-size: 0.8rem;
            }
        }
    }
    #transaksi-list {
        .card {
            .title-transaksi {
                font-size: 1.1rem;
            }
            .content-transaksi {
                font-size: 0.7rem;
            }
        }
    }
    #detailTransaksi {
        .title-transaksi-detail {
            font-size: 1.1rem;
        }
        .subtitle-transaksi-detail {
            font-size: 0.7rem;
        }
        .content-transaksi-detail {
            font-size: 0.85rem;
        }
    }
    .informasi-one,
    .informasi-two {
        font-size: 0.7rem;
    }
    .photo-kurir {
        width: 3rem;
        height: 3rem;
    }
    .name-kurir,
    .id-kurir {
        font-size: 0.85rem;
    }
    #listNotifikasi {
        .card {
            .img-notifikasi {
                width: 38px;
            }
            .title-list-notifikasi {
                font-size: 1rem;
            }
            .content-list-notifikasi {
                font-size: 0.45rem;
            }
        }
    }
    #detailNotifikasi {
        #header {
            .img-notifikasi-detail {
                height: 35px;
            }
            .title-detail-notifikasi {
                font-size: 1.1rem;
            }
        }
        .decsription,
        .content-detail-notifikasi {
            font-size: 0.8rem;
        }
    }
}

@media only screen and (max-width: 321px) {
    body {
        .title-page {
            font-size: 1.3rem;
        }
        #product {
            .card {
                height: 11.5rem;
                .top-card {
                    .item-name {
                        font-size: 0.7rem;
                    }
                    .item-price,
                    .item-diskon,
                    .diskon-persen {
                        font-size: 0.4rem;
                        border-radius: 4px;
                    }
                }
            }
        }
    }
    .discount-value {
        width: 60px;
        font-size: 0.5rem;
    }
    #ganti-metode,
    #transfer-method,
    #lainnya {
        .modal-dialog {
            width: 100%;
        }
        a {
            .card {
                .info {
                    .title,
                    .content {
                        font-size: 0.5rem;
                    }
                }
            }
        }
    }
    .navbar {
        .photo-profile {
            width: 2.9rem;
            height: 2.9rem;
        }
        .name-profile,
        .address-profile,
        .nav-link,
        .log {
            font-size: 0.65rem;
        }
        .img-dashboard {
            height: 1.8rem;
        }
        .img-logo {
            height: 2.8rem;
        }
        .img-notif {
            height: 1.8rem;
        }
        .notif {
            span {
                right: 40px;
                transform: translateY(-6px);
            }
        }
    }
    .bot-nav {
        .bot-nav-item {
            .bot-nav-link {
                font-size: 0.8rem;
                img {
                    height: 25px;
                }
                span {
                    width: 0.9rem;
                    height: 0.9rem;
                    bottom: 60px;
                }
            }
        }
    }
    #login {
        .img-logo {
            margin-bottom: 1rem;
            margin-top: 0;
        }
    }
    .not-account {
        font-size: 0.9rem;
    }
    #detail {
        #information {
            a {
                .detail-variant {
                    font-size: 0.75rem;
                    span {
                        font-size: 0.7rem;
                    }
                }
            }
            .variant-group {
                .input-custom {
                    width: 50%;
                }
                .group-qty {
                    width: 50%;
                    .btn-plus,
                    .btn-minus {
                        width: 33px;
                        height: 21px;
                        font-size: 0.7rem;
                    }
                }
            }
        }

        #recommend {
            .recommend-slider {
                .card {
                    .bot-card {
                        .recommend-name {
                            font-size: 0.6rem;
                        }
                        .recommend-coret {
                            font-size: 0.65rem;
                        }
                        .recommend-price {
                            font-size: 0.8rem;
                        }
                        .recommend-persen {
                            font-size: 0.7rem;
                        }
                    }
                }
            }
        }
    }
    #cart {
        .card {
            width: 2.8rem;
            height: 2.8rem;
            img {
                width: 3.8rem;
                height: 3.8rem;
                top: -8px;
                left: -3.5px;
            }
        }
        .cart-name {
            font-size: 0.65rem;
        }
        .cart-weight {
            font-size: 0.45rem;
        }
        .discount-price,
        .cart-price {
            font-size: 0.5rem;
        }
    }
    #successAdd,
    #paymentConfirm,
    #voucher {
        .modal-dialog {
            width: 14rem;
        }
    }
    #voucher {
        .modal-footer {
            .btn-cancel,
            .btn-choose {
                height: 35px;
                font-size: 0.8rem;
            }
        }
        .voucher-data {
            i,
            span {
                font-size: 0.8rem;
            }
        }
    }
    #lokasi-pengambilan {
        li {
            span {
                width: 0.65rem;
                height: 0.65rem;
                margin-right: 0.6rem;
            }
            a {
                font-size: 0.7rem;
            }
        }
        .card {
            p {
                font-size: 0.8rem;
            }
        }
    }
    #bill {
        #bill-list {
            img {
                height: 65px;
            }
        }
        .bill-price,
        .bill-name {
            font-size: 0.75rem;
        }
        .bill-weight {
            font-size: 0.6rem;
        }
        .bill-qty {
            h3 {
                font-size: 1.1rem;
            }
        }
        .bill-title {
            font-size: 1rem;
        }
        .total-title,
        .total-nominal {
            p {
                font-size: 0.9rem;
            }
        }
        .pay-total {
            font-size: 0.85rem;
        }
    }
    #choosen-method {
        a {
            .img-payment {
                height: 20px;
            }
            .bank-title,
            .keterangan {
                font-size: 0.65rem;
            }
        }
    }
    #payment {
        .account-name {
            font-size: 0.65rem;
        }
        .account-number {
            font-size: 0.8rem;
        }
        .payment-title {
            font-size: 1rem;
        }
        .payment-type {
            font-size: 0.8rem;
        }
        .date {
            font-size: 1.5rem;
        }
        .img-copy {
            height: 25px;
        }
        .img-bank {
            height: 23px;
        }
        #payment-bill {
            h6 {
                font-size: 0.95rem;
            }
        }
        .icons-upload {
            h6 {
                font-size: 0.6rem;
            }
        }
        .btn-confirm {
            font-size: 0.9rem;
        }
    }
    #profileEdit {
        .btn-cancel,
        .btn-save {
            font-size: 0.8rem;
        }
    }
    #transaksi-list {
        .card {
            .title-transaksi {
                font-size: 1rem;
            }
            .content-transaksi {
                font-size: 0.6rem;
            }
        }
    }
    #detailTransaksi {
        .title-transaksi-detail {
            font-size: 1rem;
        }
        .subtitle-transaksi-detail {
            font-size: 0.6rem;
        }
        .content-transaksi-detail {
            font-size: 0.75rem;
        }
    }
    .informasi-one,
    .informasi-two {
        font-size: 0.6rem;
    }
    .photo-kurir {
        width: 2.8rem;
        height: 2.8rem;
    }
    .name-kurir,
    .id-kurir {
        font-size: 0.75rem;
    }
    .transaksi-action {
        .btn-confirm {
            font-size: 0.75rem;
        }
    }
    #lacakTransaksi {
        .img-kontak {
            width: 30px;
        }
        .card {
            p {
                font-size: 0.8rem;
            }
        }
    }
    #listNotifikasi {
        .card {
            .img-notifikasi {
                width: 31px;
            }
            .title-list-notifikasi {
                font-size: 0.9rem;
            }
            .content-list-notifikasi {
                font-size: 0.5rem;
            }
        }
    }
    #detailNotifikasi {
        #header {
            .img-notifikasi-detail {
                height: 30px;
            }
            .title-detail-notifikasi {
                font-size: 1rem;
            }
        }
        .decsription,
        .content-detail-notifikasi {
            font-size: 0.7rem;
        }
    }
}

@media only screen and (max-width: 300px) {
    body {
        .title-page {
            font-size: 1.1rem;
        }
        #product {
            .card {
                height: 9rem;
                .top-card {
                    .item-price,
                    .item-diskon,
                    .diskon-persen {
                        font-size: 0.37rem;
                    }
                }
                .bot-card {
                    .btn-add {
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }
    .discount-value {
        width: 3rem;
        font-size: 0.45rem;
    }
    #cart {
        .card {
            width: 2.6rem;
            height: 2.6rem;
            img {
                width: 3.5rem;
                height: 3.5rem;
                top: -6px;
                left: -3px;
            }
        }
        .cart-name {
            font-size: 0.65rem;
        }
        .cart-weight {
            font-size: 0.45rem;
        }
        .discount-price,
        .cart-price {
            font-size: 0.5rem;
        }
    }
    .navbar {
        .photo-profile {
            width: 2.8rem;
            height: 2.8rem;
        }
        .name-profile,
        #rek .address-profile,
        .nav-link,
        .log {
            font-size: 0.5rem;
        }
    }
    .btn-google {
        font-size: 0.65rem;
    }
    #detail {
        #information {
            a {
                .detail-variant {
                    font-size: 0.6rem;
                    span {
                        font-size: 0.45rem;
                    }
                }
            }
            .information-detail {
                .text-left,
                .text-right {
                    h6,
                    p {
                        font-size: 0.85rem;
                    }
                }
            }
            .discount-price {
                font-size: 0.78rem;
            }
        }
    }
    .title-voucher {
        font-size: 1rem;
    }
    .voucher-detail {
        * {
            font-size: 0.75rem;
        }
    }
    #lokasi-pengambilan {
        li {
            span {
                width: 0.6rem;
                height: 0.6rem;
                margin-right: 0.5rem;
            }
            a {
                font-size: 0.6rem;
            }
        }
        .card {
            p {
                font-size: 0.7rem;
            }
        }
    }
    #bill {
        #bill-list {
            img {
                height: 55px;
            }
        }
        .bill-price,
        .bill-name {
            font-size: 0.55rem;
        }
        .bill-weight {
            font-size: 0.5rem;
        }
        .bill-qty {
            h3 {
                font-size: 1rem;
            }
        }
        .bill-title {
            font-size: 0.9rem;
        }
        .total-title,
        .total-nominal {
            p {
                font-size: 0.8rem;
            }
        }
        .pay-total {
            font-size: 0.75rem;
        }
    }
    #choosen-method {
        a {
            .img-payment {
                height: 13px;
            }
            .bank-title,
            .keterangan {
                font-size: 0.55rem;
            }
        }
    }
    #payment {
        .account-name {
            font-size: 0.55rem;
        }
        .account-number {
            font-size: 0.7rem;
        }
        .payment-title {
            font-size: 0.95rem;
        }
        .payment-type {
            font-size: 0.75rem;
        }
        .date {
            font-size: 1.45rem;
        }
        .img-copy {
            height: 35px;
        }
        .img-bank {
            height: 18px;
        }
        #payment-bill {
            h6 {
                font-size: 0.9rem;
            }
        }
        .icons-upload {
            h6 {
                font-size: 0.55rem;
            }
        }
        .btn-confirm {
            font-size: 0.8rem;
        }
    }
    #profileEdit {
        .btn-cancel,
        .btn-save {
            font-size: 0.7rem;
        }
    }
    #filter-container {
        .card {
            a {
                font-size: 0.8rem;
            }
        }
    }
    #transaksi-list {
        .card {
            .title-transaksi {
                font-size: 0.8rem;
            }
            .content-transaksi {
                font-size: 0.45rem;
            }
        }
    }
    #detailTransaksi {
        .title-transaksi-detail {
            font-size: 0.9rem;
        }
        .subtitle-transaksi-detail {
            font-size: 0.5rem;
        }
        .content-transaksi-detail {
            font-size: 0.65rem;
        }
    }
    .informasi-one,
    .informasi-two {
        font-size: 0.5rem;
    }
    .photo-kurir {
        width: 2.6rem;
        height: 2.6rem;
    }
    .name-kurir,
    .id-kurir {
        font-size: 0.65rem;
    }
    .transaksi-action {
        .btn-confirm {
            font-size: 0.65rem;
        }
    }
    #lacakTransaksi {
        .img-kontak {
            width: 27px;
        }
        .card {
            p {
                font-size: 0.7rem;
            }
        }
    }
    #listNotifikasi {
        .card {
            .img-notifikasi {
                width: 25px;
            }
            .title-list-notifikasi {
                font-size: 0.7rem;
            }
            .content-list-notifikasi {
                font-size: 0.45rem;
            }
        }
    }
    #detailNotifikasi {
        #header {
            .img-notifikasi-detail {
                height: 28px;
            }
            .title-detail-notifikasi {
                font-size: 0.95rem;
            }
        }
        .decsription,
        .content-detail-notifikasi {
            font-size: 0.65rem;
        }
    }
}
