#filter-container {
    padding-left: 2.3rem;
    #filter-transaksi {
        height: 40px;
        border-radius: 7px;
    }

    .card {
        background: #fff;
        border-radius: 50px;
        box-shadow: 1px 1px 10px 0 rgba(225, 225, 225, 0.3);
        a {
            text-decoration: none;
            color: $primary;
            &:focus {
                outline: none;
            }
        }
        &.active {
            background: rgba($secondary, 0.2);
        }
    }
}

#transaksi-list {
    a {
        text-decoration: none;
    }
    .card {
        border: none;
        border-radius: 20px;
        .title-transaksi {
            font-size: 1.3rem;
            font-weight: 600;
        }
        .content-transaksi {
            font-size: 0.8rem;
            color: $gray-1;
            font-weight: 400;
            margin: 0;
        }
        &.pending {
            background: $pastel-4;
            .title-transaksi {
                color: $cream;
            }
        }
        &.paid {
            background: rgba($blue, 0.1);
            .title-transaksi {
                color: $blue;
            }
        }
        &.canceled {
            background: $pastel-3;
            .title-transaksi {
                color: $secondary;
            }
        }
        &.done {
            background: $blue-gray-1;
            .title-transaksi {
                color: $green;
            }
        }
    }
    .status,
    .detail {
        align-self: center;
    }
}

#detailTransaksi {
    .title-transaksi-detail {
        font-size: 1.3rem;
        font-weight: 600;
    }
    .subtitle-transaksi-detail {
        font-size: 0.8rem;
        color: $gray-1;
    }
    .content-transaksi-detail {
        font-size: 0.95rem;
        color: $gray-1;
    }
    .subtitle-transaksi-detail,
    .content-transaksi-detail {
        font-weight: 400;
        margin: 0;
    }
    &.pending {
        .title-transaksi-detail {
            color: $cream;
        }
    }
    &.paid,
    &.process {
        .title-transaksi-detail {
            color: $blue;
        }
    }
    &.canceled {
        .title-transaksi-detail {
            color: $secondary;
        }
        .content-transaksi-detail {
            color: $gray-2;
        }
        .right-section {
            &.with-line {
                border-color: $gray-2;
            }
        }
        .card {
            color: $gray-2;
            background: rgba(#e0e0e0, 0.43);
        }
    }
    &.done {
        .title-transaksi-detail {
            color: $green;
        }
    }
    &.pending,
    &.paid,
    &.canceled {
        .title-transaksi-detail {
            text-align: left;
        }
        .kurir {
            display: none;
        }
    }
    &.process,
    &.done {
        .title-transaksi-detail {
            text-align: right;
        }
    }
    #header {
        border-bottom: 1px solid $gray-2;
    }
    .left-section,
    .right-section {
        width: 90%;
    }
    .right-section {
        text-align: right;
        &.with-line {
            padding-bottom: 8px;
            border-bottom: 1px solid $gray;
        }
    }
    .card {
        color: #000000;
        background: $pastel-3;
        border: none;
        border-radius: 20px;
    }
    .the-gift {
        color: #fff;
        background: $primary;
        font-size: 1rem;
        font-weight: 700;
        padding: 1.3rem 1rem;
        border-radius: 1.5rem;
        line-height: 1.5rem;
    }
    .box-gift {
        background: #fff;
        border: 1px solid $primary;
        border-radius: 1.5rem;
        padding: 1.5rem;
        .offer-gift {
            color: $primary;
            font-size: 0.95rem;
            font-weight: 700;
            line-height: 1.5rem;
        }
        .confirm-gift {
            color: #000;
            font-size: 0.875rem;
        }
        .btn-confirm,
        .btn-confirm-one {
            height: 30px;
            font-size: 0.75rem;
        }
    }
    .free-discount {
        color: #000;
        background: $blue-gray-1;
        font-size: 1rem;
        font-weight: 700;
        padding: 1.3rem 1rem;
        border-radius: 1.5rem;
        line-height: 1.5rem;
    }
}
.photo-kurir {
    width: 3.3rem;
    height: 3.3rem;
    clip-path: circle(50% at 50% 50%);
}
.name-kurir,
.id-kurir {
    padding: 0;
    margin: 0;
    color: #000;
}
.informasi-one {
    background: rgba($secondary, 0.2);
}
.informasi-two {
    background: #ffe8c2;
}
.informasi-one,
.informasi-two {
    margin-top: 15px;
    padding: 10px 5px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    color: $gray;
    border-radius: 12px;
}
#lacakTransaksi {
    a {
        text-decoration: none;
    }
    .kontak {
        a {
            display: inline-block;
        }
    }
    .card {
        background: #fbf3f4;
        border: none;
        border-radius: 20px;
        margin-top: 30px;
        p {
            font-size: 0.9rem;
            margin: 0;
        }
    }
}
#map {
    width: 100%;
    height: 350px;
}
#diskonModal {
    h6 {
        color: $primary;
        font-weight: 700;
    }
    p {
        color: #000;
        font-size: 0.875rem;
        font-weight: 600;
    }
}
