#voucher {
    .modal-dialog {
        width: 18rem;
    }
    .modal-content {
        border-radius: 15px;
    }
    .modal-footer {
        border: none;
        .btn-cancel {
            @include button($gray-3, #fff, 100%, 40px, 50px);
        }
        .btn-choose {
            @include button($secondary, #fff, 100%, 40px, 50px);
        }
    }

    a {
        text-decoration: none;
    }

    .voucher-data {
        transition: 0.3s;
        width: 100%;
        border: none;
        background: transparent;
        @include clear;
        .card {
            background: #ffffff;
            transition: 0.3s;
            border: none;
            border-bottom: 1.5px solid rgba($secondary, 0.2);
        }

        &:focus {
            .card {
                background: rgba($secondary, 0.2);
                border-radius: 0;
                border-bottom: none;
            }
        }
        &.expired {
            pointer-events: none;
            span,
            img {
                filter: grayscale(100%);
                opacity: 0.5;
            }
        }
    }
    .to-detail {
        position: absolute;
        right: 25px;
        display: none;
        z-index: 100;
        i {
            padding-top: 12px;
        }
    }
    .voucher-item {
        list-style: none;
    }
}

.voucher-detail {
    background: $pastel-3;
    * {
        font-size: 0.9rem;
    }
    .title-voucher {
        margin: 0;
    }
}
